--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agendaslot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agendaslot (
    id bigint NOT NULL,
    fecha date NOT NULL,
    hora_inicio time without time zone NOT NULL,
    duracion_minutos integer NOT NULL,
    turno_id bigint,
    estado_slot_id integer NOT NULL
);


ALTER TABLE public.agendaslot OWNER TO postgres;

--
-- Name: agendaslot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agendaslot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agendaslot_id_seq OWNER TO postgres;

--
-- Name: agendaslot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agendaslot_id_seq OWNED BY public.agendaslot.id;


--
-- Name: auditoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria (
    id bigint NOT NULL,
    usuario_id bigint,
    fecha_hora timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    accion character varying(20) NOT NULL,
    entidad_afectada character varying(100) NOT NULL,
    registro_id bigint NOT NULL,
    valores_anteriores text,
    ip_origen character varying(45)
);


ALTER TABLE public.auditoria OWNER TO postgres;

--
-- Name: auditoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.auditoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auditoria_id_seq OWNER TO postgres;

--
-- Name: auditoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.auditoria_id_seq OWNED BY public.auditoria.id;


--
-- Name: categoriaproducto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoriaproducto (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.categoriaproducto OWNER TO postgres;

--
-- Name: categoriaproducto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoriaproducto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoriaproducto_id_seq OWNER TO postgres;

--
-- Name: categoriaproducto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoriaproducto_id_seq OWNED BY public.categoriaproducto.id;


--
-- Name: categoriaservicio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoriaservicio (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    activo boolean
);


ALTER TABLE public.categoriaservicio OWNER TO postgres;

--
-- Name: categoriaservicio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoriaservicio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoriaservicio_id_seq OWNER TO postgres;

--
-- Name: categoriaservicio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoriaservicio_id_seq OWNED BY public.categoriaservicio.id;


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente (
    usuario_id bigint NOT NULL,
    zona character varying(100),
    redes character varying(100),
    numero character varying(20),
    fecha_nacimiento date,
    sexo character(1) DEFAULT 'F'::bpchar NOT NULL,
    tipo_cabello_id integer,
    grosor_cabello_id integer,
    porosidad_cabello_id integer,
    cuero_cabelludo_id integer,
    estado_cabello_id integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.cliente OWNER TO postgres;

--
-- Name: configuracion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuracion (
    clave character varying(100) NOT NULL,
    valor text NOT NULL,
    tipo_dato character varying(50) NOT NULL,
    descripcion text,
    fecha_modificacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    usuario_modificador_id bigint
);


ALTER TABLE public.configuracion OWNER TO postgres;

--
-- Name: contenidoeducativo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contenidoeducativo (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    contenido text NOT NULL,
    tipo character varying(50) NOT NULL,
    url_imagen character varying(255),
    url_video character varying(255),
    fecha_publicacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    publicado boolean DEFAULT true
);


ALTER TABLE public.contenidoeducativo OWNER TO postgres;

--
-- Name: contenidoeducativo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.contenidoeducativo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contenidoeducativo_id_seq OWNER TO postgres;

--
-- Name: contenidoeducativo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.contenidoeducativo_id_seq OWNED BY public.contenidoeducativo.id;


--
-- Name: cuerocabelludo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuerocabelludo (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(50)
);


ALTER TABLE public.cuerocabelludo OWNER TO postgres;

--
-- Name: cuerocabelludo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cuerocabelludo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cuerocabelludo_id_seq OWNER TO postgres;

--
-- Name: cuerocabelludo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cuerocabelludo_id_seq OWNED BY public.cuerocabelludo.id;


--
-- Name: detalleproducto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detalleproducto (
    id bigint NOT NULL,
    producto_id bigint NOT NULL,
    sku character varying(50),
    atributo_variante character varying(100) NOT NULL,
    precio_venta numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    url_foto_variante character varying(255),
    activo boolean DEFAULT true NOT NULL,
    CONSTRAINT detalleproducto_precio_venta_check CHECK ((precio_venta >= (0)::numeric)),
    CONSTRAINT detalleproducto_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.detalleproducto OWNER TO postgres;

--
-- Name: detalleproducto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detalleproducto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalleproducto_id_seq OWNER TO postgres;

--
-- Name: detalleproducto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detalleproducto_id_seq OWNED BY public.detalleproducto.id;


--
-- Name: detallepromocion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detallepromocion (
    id bigint NOT NULL,
    promocion_id bigint NOT NULL,
    servicio_id integer,
    detalle_producto_id bigint,
    CONSTRAINT chk_xor_entidad CHECK ((((servicio_id IS NOT NULL) AND (detalle_producto_id IS NULL)) OR ((servicio_id IS NULL) AND (detalle_producto_id IS NOT NULL))))
);


ALTER TABLE public.detallepromocion OWNER TO postgres;

--
-- Name: detallepromocion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detallepromocion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detallepromocion_id_seq OWNER TO postgres;

--
-- Name: detallepromocion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detallepromocion_id_seq OWNED BY public.detallepromocion.id;


--
-- Name: detalleservicio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detalleservicio (
    id bigint NOT NULL,
    turno_id bigint NOT NULL,
    servicio_id integer NOT NULL,
    orden integer NOT NULL,
    personal_asignado_id bigint,
    precio_final numeric(10,2) NOT NULL,
    duracion_estimada_min integer NOT NULL,
    estado_detalle character varying(50) NOT NULL,
    CONSTRAINT detalleservicio_duracion_estimada_min_check CHECK ((duracion_estimada_min > 0)),
    CONSTRAINT detalleservicio_precio_final_check CHECK ((precio_final >= (0)::numeric))
);


ALTER TABLE public.detalleservicio OWNER TO postgres;

--
-- Name: detalleservicio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detalleservicio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalleservicio_id_seq OWNER TO postgres;

--
-- Name: detalleservicio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detalleservicio_id_seq OWNED BY public.detalleservicio.id;


--
-- Name: diassemana; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diassemana (
    id integer NOT NULL,
    nombre character varying(15) NOT NULL,
    numero_iso integer NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    CONSTRAINT diassemana_numero_iso_check CHECK (((numero_iso >= 1) AND (numero_iso <= 7)))
);


ALTER TABLE public.diassemana OWNER TO postgres;

--
-- Name: diassemana_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.diassemana_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.diassemana_id_seq OWNER TO postgres;

--
-- Name: diassemana_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.diassemana_id_seq OWNED BY public.diassemana.id;


--
-- Name: equipamiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipamiento (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    tipo character varying(50) NOT NULL,
    capacidad integer DEFAULT 1 NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.equipamiento OWNER TO postgres;

--
-- Name: equipamiento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipamiento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipamiento_id_seq OWNER TO postgres;

--
-- Name: equipamiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipamiento_id_seq OWNED BY public.equipamiento.id;


--
-- Name: estadocabello; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estadocabello (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(50)
);


ALTER TABLE public.estadocabello OWNER TO postgres;

--
-- Name: estadocabello_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estadocabello_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estadocabello_id_seq OWNER TO postgres;

--
-- Name: estadocabello_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estadocabello_id_seq OWNED BY public.estadocabello.id;


--
-- Name: estadose├▒a; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."estadose├▒a" (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    es_confirmacion boolean DEFAULT false NOT NULL
);


ALTER TABLE public."estadose├▒a" OWNER TO postgres;

--
-- Name: estadose├▒a_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."estadose├▒a_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."estadose├▒a_id_seq" OWNER TO postgres;

--
-- Name: estadose├▒a_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."estadose├▒a_id_seq" OWNED BY public."estadose├▒a".id;


--
-- Name: estadoslot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estadoslot (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    es_disponible boolean DEFAULT true NOT NULL
);


ALTER TABLE public.estadoslot OWNER TO postgres;

--
-- Name: estadoslot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estadoslot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estadoslot_id_seq OWNER TO postgres;

--
-- Name: estadoslot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estadoslot_id_seq OWNED BY public.estadoslot.id;


--
-- Name: estadoturno; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estadoturno (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    es_final boolean DEFAULT false NOT NULL
);


ALTER TABLE public.estadoturno OWNER TO postgres;

--
-- Name: estadoturno_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estadoturno_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estadoturno_id_seq OWNER TO postgres;

--
-- Name: estadoturno_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estadoturno_id_seq OWNED BY public.estadoturno.id;


--
-- Name: grosorcabello; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grosorcabello (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(50)
);


ALTER TABLE public.grosorcabello OWNER TO postgres;

--
-- Name: grosorcabello_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.grosorcabello_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grosorcabello_id_seq OWNER TO postgres;

--
-- Name: grosorcabello_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.grosorcabello_id_seq OWNED BY public.grosorcabello.id;


--
-- Name: habilidadpersonal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.habilidadpersonal (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE public.habilidadpersonal OWNER TO postgres;

--
-- Name: habilidadpersonal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.habilidadpersonal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habilidadpersonal_id_seq OWNER TO postgres;

--
-- Name: habilidadpersonal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.habilidadpersonal_id_seq OWNED BY public.habilidadpersonal.id;


--
-- Name: horariolaboral; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.horariolaboral (
    id bigint NOT NULL,
    personal_id bigint NOT NULL,
    dia_semana integer NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin time without time zone NOT NULL,
    vigente_desde date NOT NULL,
    vigente_hasta date,
    CONSTRAINT horariolaboral_check CHECK ((hora_inicio < hora_fin)),
    CONSTRAINT horariolaboral_dia_semana_check CHECK (((dia_semana >= 1) AND (dia_semana <= 7)))
);


ALTER TABLE public.horariolaboral OWNER TO postgres;

--
-- Name: horariolaboral_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.horariolaboral_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.horariolaboral_id_seq OWNER TO postgres;

--
-- Name: horariolaboral_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.horariolaboral_id_seq OWNED BY public.horariolaboral.id;


--
-- Name: inventariomovimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventariomovimiento (
    id bigint NOT NULL,
    detalle_producto_id bigint NOT NULL,
    tipo_movimiento_id integer NOT NULL,
    cantidad integer NOT NULL,
    fecha_movimiento timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    usuario_id bigint NOT NULL,
    referencia character varying(100),
    CONSTRAINT inventariomovimiento_cantidad_check CHECK ((cantidad > 0)),
    CONSTRAINT inventariomovimiento_cantidad_check1 CHECK ((cantidad > 0))
);


ALTER TABLE public.inventariomovimiento OWNER TO postgres;

--
-- Name: inventariomovimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventariomovimiento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventariomovimiento_id_seq OWNER TO postgres;

--
-- Name: inventariomovimiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventariomovimiento_id_seq OWNED BY public.inventariomovimiento.id;


--
-- Name: listaespera; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listaespera (
    id bigint NOT NULL,
    cliente_id bigint NOT NULL,
    servicio_id integer NOT NULL,
    fecha_solicitud timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_deseada_inicio date NOT NULL,
    fecha_deseada_fin date,
    hora_preferida_inicio time without time zone,
    estado character varying(20) NOT NULL,
    observaciones text
);


ALTER TABLE public.listaespera OWNER TO postgres;

--
-- Name: listaespera_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.listaespera_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.listaespera_id_seq OWNER TO postgres;

--
-- Name: listaespera_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.listaespera_id_seq OWNED BY public.listaespera.id;


--
-- Name: pasoplantilla; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasoplantilla (
    id bigint NOT NULL,
    plantilla_id bigint NOT NULL,
    orden integer NOT NULL,
    descripcion text NOT NULL,
    frecuencia character varying(100) NOT NULL,
    producto_id bigint
);


ALTER TABLE public.pasoplantilla OWNER TO postgres;

--
-- Name: pasoplantilla_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pasoplantilla_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pasoplantilla_id_seq OWNER TO postgres;

--
-- Name: pasoplantilla_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pasoplantilla_id_seq OWNED BY public.pasoplantilla.id;


--
-- Name: pasorutinacliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasorutinacliente (
    id bigint NOT NULL,
    rutina_cliente_id bigint NOT NULL,
    orden integer NOT NULL,
    descripcion text NOT NULL,
    frecuencia character varying(100) NOT NULL,
    producto_id bigint
);


ALTER TABLE public.pasorutinacliente OWNER TO postgres;

--
-- Name: pasorutinacliente_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pasorutinacliente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pasorutinacliente_id_seq OWNER TO postgres;

--
-- Name: pasorutinacliente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pasorutinacliente_id_seq OWNED BY public.pasorutinacliente.id;


--
-- Name: personal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personal (
    id bigint NOT NULL,
    usuario_id bigint,
    nombre character varying(100) NOT NULL,
    apellido character varying(100) NOT NULL,
    puesto_id integer NOT NULL,
    fecha_alta date NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.personal OWNER TO postgres;

--
-- Name: personal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.personal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_id_seq OWNER TO postgres;

--
-- Name: personal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.personal_id_seq OWNED BY public.personal.id;


--
-- Name: personalhabilidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personalhabilidad (
    personal_id bigint NOT NULL,
    habilidad_id integer NOT NULL,
    nivel integer,
    fecha_certificacion date
);


ALTER TABLE public.personalhabilidad OWNER TO postgres;

--
-- Name: plantillarutina; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plantillarutina (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    objetivo character varying(100) NOT NULL,
    descripcion text,
    version character varying(10) NOT NULL,
    estado character varying(20) NOT NULL,
    creada_por_id bigint,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.plantillarutina OWNER TO postgres;

--
-- Name: plantillarutina_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plantillarutina_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plantillarutina_id_seq OWNER TO postgres;

--
-- Name: plantillarutina_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plantillarutina_id_seq OWNED BY public.plantillarutina.id;


--
-- Name: porosidadcabello; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.porosidadcabello (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(50)
);


ALTER TABLE public.porosidadcabello OWNER TO postgres;

--
-- Name: porosidadcabello_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.porosidadcabello_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.porosidadcabello_id_seq OWNER TO postgres;

--
-- Name: porosidadcabello_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.porosidadcabello_id_seq OWNED BY public.porosidadcabello.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    descripcion_corta character varying(255),
    descripcion_larga text,
    url_foto_principal character varying(255),
    activo boolean DEFAULT true NOT NULL,
    categoria_id integer NOT NULL
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_id_seq OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: promocion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promocion (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    tipo_descuento character varying(20) NOT NULL,
    valor_descuento numeric(10,2) NOT NULL,
    fecha_inicio timestamp without time zone NOT NULL,
    fecha_fin timestamp without time zone NOT NULL,
    estado character varying(20) NOT NULL,
    descripcion text,
    creada_por_id bigint,
    CONSTRAINT promocion_check CHECK ((fecha_inicio < fecha_fin)),
    CONSTRAINT promocion_valor_descuento_check CHECK ((valor_descuento >= (0)::numeric))
);


ALTER TABLE public.promocion OWNER TO postgres;

--
-- Name: promocion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.promocion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promocion_id_seq OWNER TO postgres;

--
-- Name: promocion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.promocion_id_seq OWNED BY public.promocion.id;


--
-- Name: puestooperativo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.puestooperativo (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.puestooperativo OWNER TO postgres;

--
-- Name: puestooperativo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.puestooperativo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.puestooperativo_id_seq OWNER TO postgres;

--
-- Name: puestooperativo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.puestooperativo_id_seq OWNED BY public.puestooperativo.id;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE public.rol OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_id_seq OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rol_id_seq OWNED BY public.rol.id;


--
-- Name: rutinacliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rutinacliente (
    id bigint NOT NULL,
    cliente_id bigint NOT NULL,
    plantilla_id bigint NOT NULL,
    version_asignada character varying(10) NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_asignacion date DEFAULT CURRENT_DATE,
    vigente boolean DEFAULT true,
    profesional_id bigint
);


ALTER TABLE public.rutinacliente OWNER TO postgres;

--
-- Name: rutinacliente_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rutinacliente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rutinacliente_id_seq OWNER TO postgres;

--
-- Name: rutinacliente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rutinacliente_id_seq OWNED BY public.rutinacliente.id;


--
-- Name: servicio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servicio (
    id integer NOT NULL,
    nombre character varying(150) NOT NULL,
    categoria_servicio_id integer NOT NULL,
    precio_base numeric(10,2) NOT NULL,
    requiere_equipamiento boolean DEFAULT false NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    tipo_servicio character varying(50) NOT NULL,
    duracion_minutos integer NOT NULL
);


ALTER TABLE public.servicio OWNER TO postgres;

--
-- Name: servicio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.servicio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servicio_id_seq OWNER TO postgres;

--
-- Name: servicio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.servicio_id_seq OWNED BY public.servicio.id;


--
-- Name: se├▒a; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."se├▒a" (
    id bigint NOT NULL,
    turno_id bigint NOT NULL,
    monto numeric(10,2) NOT NULL,
    fecha_pago timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    metodo_pago character varying(50) NOT NULL,
    "estado_se├▒a_id" integer NOT NULL,
    transaccion_id_externa character varying(255),
    usuario_registro_id bigint,
    CONSTRAINT "se├▒a_monto_check" CHECK ((monto > (0)::numeric))
);


ALTER TABLE public."se├▒a" OWNER TO postgres;

--
-- Name: se├▒a_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."se├▒a_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."se├▒a_id_seq" OWNER TO postgres;

--
-- Name: se├▒a_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."se├▒a_id_seq" OWNED BY public."se├▒a".id;


--
-- Name: slotequipamiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.slotequipamiento (
    agenda_slot_id bigint NOT NULL,
    equipamiento_id integer NOT NULL,
    razon character varying(100) NOT NULL
);


ALTER TABLE public.slotequipamiento OWNER TO postgres;

--
-- Name: slotpersonal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.slotpersonal (
    agenda_slot_id bigint NOT NULL,
    personal_id bigint NOT NULL,
    razon character varying(100) NOT NULL
);


ALTER TABLE public.slotpersonal OWNER TO postgres;

--
-- Name: tipocabello; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipocabello (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(50)
);


ALTER TABLE public.tipocabello OWNER TO postgres;

--
-- Name: tipocabello_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipocabello_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipocabello_id_seq OWNER TO postgres;

--
-- Name: tipocabello_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipocabello_id_seq OWNED BY public.tipocabello.id;


--
-- Name: tipomovimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipomovimiento (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    factor integer NOT NULL,
    descripcion text
);


ALTER TABLE public.tipomovimiento OWNER TO postgres;

--
-- Name: tipomovimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipomovimiento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipomovimiento_id_seq OWNER TO postgres;

--
-- Name: tipomovimiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipomovimiento_id_seq OWNED BY public.tipomovimiento.id;


--
-- Name: turno; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.turno (
    id bigint NOT NULL,
    cliente_id bigint NOT NULL,
    fecha date NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin_estimada time without time zone,
    duracion_total_minutos integer,
    estado character varying(50) NOT NULL,
    observaciones text,
    lista_espera_id bigint,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estado_turno_id integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.turno OWNER TO postgres;

--
-- Name: turno_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.turno_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.turno_id_seq OWNER TO postgres;

--
-- Name: turno_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.turno_id_seq OWNED BY public.turno.id;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id bigint NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido character varying(100) NOT NULL,
    is_active boolean DEFAULT true,
    is_staff boolean DEFAULT false,
    fecha_registro timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_seq OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuario_id_seq OWNED BY public.usuario.id;


--
-- Name: usuariorol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuariorol (
    usuario_id bigint NOT NULL,
    rol_id integer NOT NULL,
    fecha_asignacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuariorol OWNER TO postgres;

--
-- Name: agendaslot id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agendaslot ALTER COLUMN id SET DEFAULT nextval('public.agendaslot_id_seq'::regclass);


--
-- Name: auditoria id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria ALTER COLUMN id SET DEFAULT nextval('public.auditoria_id_seq'::regclass);


--
-- Name: categoriaproducto id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoriaproducto ALTER COLUMN id SET DEFAULT nextval('public.categoriaproducto_id_seq'::regclass);


--
-- Name: categoriaservicio id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoriaservicio ALTER COLUMN id SET DEFAULT nextval('public.categoriaservicio_id_seq'::regclass);


--
-- Name: contenidoeducativo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contenidoeducativo ALTER COLUMN id SET DEFAULT nextval('public.contenidoeducativo_id_seq'::regclass);


--
-- Name: cuerocabelludo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuerocabelludo ALTER COLUMN id SET DEFAULT nextval('public.cuerocabelludo_id_seq'::regclass);


--
-- Name: detalleproducto id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleproducto ALTER COLUMN id SET DEFAULT nextval('public.detalleproducto_id_seq'::regclass);


--
-- Name: detallepromocion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detallepromocion ALTER COLUMN id SET DEFAULT nextval('public.detallepromocion_id_seq'::regclass);


--
-- Name: detalleservicio id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio ALTER COLUMN id SET DEFAULT nextval('public.detalleservicio_id_seq'::regclass);


--
-- Name: diassemana id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diassemana ALTER COLUMN id SET DEFAULT nextval('public.diassemana_id_seq'::regclass);


--
-- Name: equipamiento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipamiento ALTER COLUMN id SET DEFAULT nextval('public.equipamiento_id_seq'::regclass);


--
-- Name: estadocabello id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadocabello ALTER COLUMN id SET DEFAULT nextval('public.estadocabello_id_seq'::regclass);


--
-- Name: estadose├▒a id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."estadose├▒a" ALTER COLUMN id SET DEFAULT nextval('public."estadose├▒a_id_seq"'::regclass);


--
-- Name: estadoslot id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadoslot ALTER COLUMN id SET DEFAULT nextval('public.estadoslot_id_seq'::regclass);


--
-- Name: estadoturno id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadoturno ALTER COLUMN id SET DEFAULT nextval('public.estadoturno_id_seq'::regclass);


--
-- Name: grosorcabello id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grosorcabello ALTER COLUMN id SET DEFAULT nextval('public.grosorcabello_id_seq'::regclass);


--
-- Name: habilidadpersonal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidadpersonal ALTER COLUMN id SET DEFAULT nextval('public.habilidadpersonal_id_seq'::regclass);


--
-- Name: horariolaboral id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horariolaboral ALTER COLUMN id SET DEFAULT nextval('public.horariolaboral_id_seq'::regclass);


--
-- Name: inventariomovimiento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventariomovimiento ALTER COLUMN id SET DEFAULT nextval('public.inventariomovimiento_id_seq'::regclass);


--
-- Name: listaespera id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listaespera ALTER COLUMN id SET DEFAULT nextval('public.listaespera_id_seq'::regclass);


--
-- Name: pasoplantilla id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasoplantilla ALTER COLUMN id SET DEFAULT nextval('public.pasoplantilla_id_seq'::regclass);


--
-- Name: pasorutinacliente id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasorutinacliente ALTER COLUMN id SET DEFAULT nextval('public.pasorutinacliente_id_seq'::regclass);


--
-- Name: personal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal ALTER COLUMN id SET DEFAULT nextval('public.personal_id_seq'::regclass);


--
-- Name: plantillarutina id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plantillarutina ALTER COLUMN id SET DEFAULT nextval('public.plantillarutina_id_seq'::regclass);


--
-- Name: porosidadcabello id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.porosidadcabello ALTER COLUMN id SET DEFAULT nextval('public.porosidadcabello_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: promocion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promocion ALTER COLUMN id SET DEFAULT nextval('public.promocion_id_seq'::regclass);


--
-- Name: puestooperativo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.puestooperativo ALTER COLUMN id SET DEFAULT nextval('public.puestooperativo_id_seq'::regclass);


--
-- Name: rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol ALTER COLUMN id SET DEFAULT nextval('public.rol_id_seq'::regclass);


--
-- Name: rutinacliente id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rutinacliente ALTER COLUMN id SET DEFAULT nextval('public.rutinacliente_id_seq'::regclass);


--
-- Name: servicio id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicio ALTER COLUMN id SET DEFAULT nextval('public.servicio_id_seq'::regclass);


--
-- Name: se├▒a id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."se├▒a" ALTER COLUMN id SET DEFAULT nextval('public."se├▒a_id_seq"'::regclass);


--
-- Name: tipocabello id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipocabello ALTER COLUMN id SET DEFAULT nextval('public.tipocabello_id_seq'::regclass);


--
-- Name: tipomovimiento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipomovimiento ALTER COLUMN id SET DEFAULT nextval('public.tipomovimiento_id_seq'::regclass);


--
-- Name: turno id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno ALTER COLUMN id SET DEFAULT nextval('public.turno_id_seq'::regclass);


--
-- Name: usuario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id SET DEFAULT nextval('public.usuario_id_seq'::regclass);


--
-- Name: agendaslot agendaslot_fecha_hora_inicio_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agendaslot
    ADD CONSTRAINT agendaslot_fecha_hora_inicio_key UNIQUE (fecha, hora_inicio);


--
-- Name: agendaslot agendaslot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agendaslot
    ADD CONSTRAINT agendaslot_pkey PRIMARY KEY (id);


--
-- Name: agendaslot agendaslot_turno_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agendaslot
    ADD CONSTRAINT agendaslot_turno_id_key UNIQUE (turno_id);


--
-- Name: auditoria auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_pkey PRIMARY KEY (id);


--
-- Name: categoriaproducto categoriaproducto_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoriaproducto
    ADD CONSTRAINT categoriaproducto_nombre_key UNIQUE (nombre);


--
-- Name: categoriaproducto categoriaproducto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoriaproducto
    ADD CONSTRAINT categoriaproducto_pkey PRIMARY KEY (id);


--
-- Name: categoriaservicio categoriaservicio_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoriaservicio
    ADD CONSTRAINT categoriaservicio_nombre_key UNIQUE (nombre);


--
-- Name: categoriaservicio categoriaservicio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoriaservicio
    ADD CONSTRAINT categoriaservicio_pkey PRIMARY KEY (id);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (usuario_id);


--
-- Name: configuracion configuracion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_pkey PRIMARY KEY (clave);


--
-- Name: contenidoeducativo contenidoeducativo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contenidoeducativo
    ADD CONSTRAINT contenidoeducativo_pkey PRIMARY KEY (id);


--
-- Name: cuerocabelludo cuerocabelludo_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuerocabelludo
    ADD CONSTRAINT cuerocabelludo_nombre_key UNIQUE (nombre);


--
-- Name: cuerocabelludo cuerocabelludo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuerocabelludo
    ADD CONSTRAINT cuerocabelludo_pkey PRIMARY KEY (id);


--
-- Name: detalleproducto detalleproducto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleproducto
    ADD CONSTRAINT detalleproducto_pkey PRIMARY KEY (id);


--
-- Name: detalleproducto detalleproducto_producto_id_atributo_variante_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleproducto
    ADD CONSTRAINT detalleproducto_producto_id_atributo_variante_key UNIQUE (producto_id, atributo_variante);


--
-- Name: detalleproducto detalleproducto_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleproducto
    ADD CONSTRAINT detalleproducto_sku_key UNIQUE (sku);


--
-- Name: detallepromocion detallepromocion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detallepromocion
    ADD CONSTRAINT detallepromocion_pkey PRIMARY KEY (id);


--
-- Name: detallepromocion detallepromocion_promocion_id_servicio_id_detalle_producto__key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detallepromocion
    ADD CONSTRAINT detallepromocion_promocion_id_servicio_id_detalle_producto__key UNIQUE (promocion_id, servicio_id, detalle_producto_id);


--
-- Name: detalleservicio detalleservicio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio
    ADD CONSTRAINT detalleservicio_pkey PRIMARY KEY (id);


--
-- Name: detalleservicio detalleservicio_turno_id_orden_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio
    ADD CONSTRAINT detalleservicio_turno_id_orden_key UNIQUE (turno_id, orden);


--
-- Name: detalleservicio detalleservicio_turno_id_servicio_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio
    ADD CONSTRAINT detalleservicio_turno_id_servicio_id_key UNIQUE (turno_id, servicio_id);


--
-- Name: diassemana diassemana_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diassemana
    ADD CONSTRAINT diassemana_nombre_key UNIQUE (nombre);


--
-- Name: diassemana diassemana_numero_iso_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diassemana
    ADD CONSTRAINT diassemana_numero_iso_key UNIQUE (numero_iso);


--
-- Name: diassemana diassemana_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diassemana
    ADD CONSTRAINT diassemana_pkey PRIMARY KEY (id);


--
-- Name: equipamiento equipamiento_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipamiento
    ADD CONSTRAINT equipamiento_nombre_key UNIQUE (nombre);


--
-- Name: equipamiento equipamiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipamiento
    ADD CONSTRAINT equipamiento_pkey PRIMARY KEY (id);


--
-- Name: estadocabello estadocabello_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadocabello
    ADD CONSTRAINT estadocabello_nombre_key UNIQUE (nombre);


--
-- Name: estadocabello estadocabello_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadocabello
    ADD CONSTRAINT estadocabello_pkey PRIMARY KEY (id);


--
-- Name: estadose├▒a estadose├▒a_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."estadose├▒a"
    ADD CONSTRAINT "estadose├▒a_nombre_key" UNIQUE (nombre);


--
-- Name: estadose├▒a estadose├▒a_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."estadose├▒a"
    ADD CONSTRAINT "estadose├▒a_pkey" PRIMARY KEY (id);


--
-- Name: estadoslot estadoslot_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadoslot
    ADD CONSTRAINT estadoslot_nombre_key UNIQUE (nombre);


--
-- Name: estadoslot estadoslot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadoslot
    ADD CONSTRAINT estadoslot_pkey PRIMARY KEY (id);


--
-- Name: estadoturno estadoturno_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadoturno
    ADD CONSTRAINT estadoturno_nombre_key UNIQUE (nombre);


--
-- Name: estadoturno estadoturno_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadoturno
    ADD CONSTRAINT estadoturno_pkey PRIMARY KEY (id);


--
-- Name: rutinacliente fk_cliente_rutina; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rutinacliente
    ADD CONSTRAINT fk_cliente_rutina UNIQUE (cliente_id, plantilla_id, estado);


--
-- Name: grosorcabello grosorcabello_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grosorcabello
    ADD CONSTRAINT grosorcabello_nombre_key UNIQUE (nombre);


--
-- Name: grosorcabello grosorcabello_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grosorcabello
    ADD CONSTRAINT grosorcabello_pkey PRIMARY KEY (id);


--
-- Name: habilidadpersonal habilidadpersonal_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidadpersonal
    ADD CONSTRAINT habilidadpersonal_nombre_key UNIQUE (nombre);


--
-- Name: habilidadpersonal habilidadpersonal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidadpersonal
    ADD CONSTRAINT habilidadpersonal_pkey PRIMARY KEY (id);


--
-- Name: horariolaboral horariolaboral_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horariolaboral
    ADD CONSTRAINT horariolaboral_pkey PRIMARY KEY (id);


--
-- Name: inventariomovimiento inventariomovimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventariomovimiento
    ADD CONSTRAINT inventariomovimiento_pkey PRIMARY KEY (id);


--
-- Name: listaespera listaespera_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listaespera
    ADD CONSTRAINT listaespera_pkey PRIMARY KEY (id);


--
-- Name: pasoplantilla pasoplantilla_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasoplantilla
    ADD CONSTRAINT pasoplantilla_pkey PRIMARY KEY (id);


--
-- Name: pasoplantilla pasoplantilla_plantilla_id_orden_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasoplantilla
    ADD CONSTRAINT pasoplantilla_plantilla_id_orden_key UNIQUE (plantilla_id, orden);


--
-- Name: pasorutinacliente pasorutinacliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasorutinacliente
    ADD CONSTRAINT pasorutinacliente_pkey PRIMARY KEY (id);


--
-- Name: pasorutinacliente pasorutinacliente_rutina_cliente_id_orden_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasorutinacliente
    ADD CONSTRAINT pasorutinacliente_rutina_cliente_id_orden_key UNIQUE (rutina_cliente_id, orden);


--
-- Name: personal personal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal
    ADD CONSTRAINT personal_pkey PRIMARY KEY (id);


--
-- Name: personalhabilidad personalhabilidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personalhabilidad
    ADD CONSTRAINT personalhabilidad_pkey PRIMARY KEY (personal_id, habilidad_id);


--
-- Name: plantillarutina plantillarutina_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plantillarutina
    ADD CONSTRAINT plantillarutina_nombre_key UNIQUE (nombre);


--
-- Name: plantillarutina plantillarutina_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plantillarutina
    ADD CONSTRAINT plantillarutina_pkey PRIMARY KEY (id);


--
-- Name: porosidadcabello porosidadcabello_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.porosidadcabello
    ADD CONSTRAINT porosidadcabello_nombre_key UNIQUE (nombre);


--
-- Name: porosidadcabello porosidadcabello_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.porosidadcabello
    ADD CONSTRAINT porosidadcabello_pkey PRIMARY KEY (id);


--
-- Name: productos productos_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_nombre_key UNIQUE (nombre);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: promocion promocion_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promocion
    ADD CONSTRAINT promocion_nombre_key UNIQUE (nombre);


--
-- Name: promocion promocion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promocion
    ADD CONSTRAINT promocion_pkey PRIMARY KEY (id);


--
-- Name: puestooperativo puestooperativo_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.puestooperativo
    ADD CONSTRAINT puestooperativo_nombre_key UNIQUE (nombre);


--
-- Name: puestooperativo puestooperativo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.puestooperativo
    ADD CONSTRAINT puestooperativo_pkey PRIMARY KEY (id);


--
-- Name: rol rol_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_nombre_key UNIQUE (nombre);


--
-- Name: rol rol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_pkey PRIMARY KEY (id);


--
-- Name: rutinacliente rutinacliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rutinacliente
    ADD CONSTRAINT rutinacliente_pkey PRIMARY KEY (id);


--
-- Name: servicio servicio_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicio
    ADD CONSTRAINT servicio_nombre_key UNIQUE (nombre);


--
-- Name: servicio servicio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicio
    ADD CONSTRAINT servicio_pkey PRIMARY KEY (id);


--
-- Name: se├▒a se├▒a_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."se├▒a"
    ADD CONSTRAINT "se├▒a_pkey" PRIMARY KEY (id);


--
-- Name: se├▒a se├▒a_turno_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."se├▒a"
    ADD CONSTRAINT "se├▒a_turno_id_key" UNIQUE (turno_id);


--
-- Name: slotequipamiento slotequipamiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slotequipamiento
    ADD CONSTRAINT slotequipamiento_pkey PRIMARY KEY (agenda_slot_id, equipamiento_id);


--
-- Name: slotpersonal slotpersonal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slotpersonal
    ADD CONSTRAINT slotpersonal_pkey PRIMARY KEY (agenda_slot_id, personal_id);


--
-- Name: tipocabello tipocabello_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipocabello
    ADD CONSTRAINT tipocabello_nombre_key UNIQUE (nombre);


--
-- Name: tipocabello tipocabello_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipocabello
    ADD CONSTRAINT tipocabello_pkey PRIMARY KEY (id);


--
-- Name: tipomovimiento tipomovimiento_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipomovimiento
    ADD CONSTRAINT tipomovimiento_nombre_key UNIQUE (nombre);


--
-- Name: tipomovimiento tipomovimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipomovimiento
    ADD CONSTRAINT tipomovimiento_pkey PRIMARY KEY (id);


--
-- Name: turno turno_fecha_hora_inicio_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno
    ADD CONSTRAINT turno_fecha_hora_inicio_key UNIQUE (fecha, hora_inicio);


--
-- Name: turno turno_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno
    ADD CONSTRAINT turno_pkey PRIMARY KEY (id);


--
-- Name: personal uix_personal_usuario; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal
    ADD CONSTRAINT uix_personal_usuario UNIQUE (usuario_id);


--
-- Name: usuario usuario_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_email_key UNIQUE (email);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id);


--
-- Name: usuariorol usuariorol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuariorol
    ADD CONSTRAINT usuariorol_pkey PRIMARY KEY (usuario_id, rol_id);


--
-- Name: agendaslot agendaslot_estado_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agendaslot
    ADD CONSTRAINT agendaslot_estado_slot_id_fkey FOREIGN KEY (estado_slot_id) REFERENCES public.estadoslot(id);


--
-- Name: agendaslot agendaslot_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agendaslot
    ADD CONSTRAINT agendaslot_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turno(id) ON DELETE SET NULL;


--
-- Name: auditoria auditoria_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id);


--
-- Name: cliente cliente_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id) ON DELETE CASCADE;


--
-- Name: configuracion configuracion_usuario_modificador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_usuario_modificador_id_fkey FOREIGN KEY (usuario_modificador_id) REFERENCES public.usuario(id) ON DELETE SET NULL;


--
-- Name: detalleproducto detalleproducto_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleproducto
    ADD CONSTRAINT detalleproducto_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: detallepromocion detallepromocion_detalle_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detallepromocion
    ADD CONSTRAINT detallepromocion_detalle_producto_id_fkey FOREIGN KEY (detalle_producto_id) REFERENCES public.detalleproducto(id) ON DELETE CASCADE;


--
-- Name: detallepromocion detallepromocion_promocion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detallepromocion
    ADD CONSTRAINT detallepromocion_promocion_id_fkey FOREIGN KEY (promocion_id) REFERENCES public.promocion(id) ON DELETE CASCADE;


--
-- Name: detallepromocion detallepromocion_servicio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detallepromocion
    ADD CONSTRAINT detallepromocion_servicio_id_fkey FOREIGN KEY (servicio_id) REFERENCES public.servicio(id) ON DELETE CASCADE;


--
-- Name: detalleservicio detalleservicio_personal_asignado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio
    ADD CONSTRAINT detalleservicio_personal_asignado_id_fkey FOREIGN KEY (personal_asignado_id) REFERENCES public.personal(id) ON DELETE SET NULL;


--
-- Name: detalleservicio detalleservicio_servicio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio
    ADD CONSTRAINT detalleservicio_servicio_id_fkey FOREIGN KEY (servicio_id) REFERENCES public.servicio(id) ON DELETE RESTRICT;


--
-- Name: detalleservicio detalleservicio_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalleservicio
    ADD CONSTRAINT detalleservicio_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turno(id) ON DELETE CASCADE;


--
-- Name: horariolaboral horariolaboral_personal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horariolaboral
    ADD CONSTRAINT horariolaboral_personal_id_fkey FOREIGN KEY (personal_id) REFERENCES public.personal(id) ON DELETE CASCADE;


--
-- Name: inventariomovimiento inventariomovimiento_detalle_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventariomovimiento
    ADD CONSTRAINT inventariomovimiento_detalle_producto_id_fkey FOREIGN KEY (detalle_producto_id) REFERENCES public.detalleproducto(id) ON DELETE RESTRICT;


--
-- Name: inventariomovimiento inventariomovimiento_tipo_movimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventariomovimiento
    ADD CONSTRAINT inventariomovimiento_tipo_movimiento_id_fkey FOREIGN KEY (tipo_movimiento_id) REFERENCES public.tipomovimiento(id);


--
-- Name: inventariomovimiento inventariomovimiento_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventariomovimiento
    ADD CONSTRAINT inventariomovimiento_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id);


--
-- Name: listaespera listaespera_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listaespera
    ADD CONSTRAINT listaespera_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.cliente(usuario_id) ON DELETE CASCADE;


--
-- Name: listaespera listaespera_servicio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listaespera
    ADD CONSTRAINT listaespera_servicio_id_fkey FOREIGN KEY (servicio_id) REFERENCES public.servicio(id) ON DELETE RESTRICT;


--
-- Name: pasoplantilla pasoplantilla_plantilla_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasoplantilla
    ADD CONSTRAINT pasoplantilla_plantilla_id_fkey FOREIGN KEY (plantilla_id) REFERENCES public.plantillarutina(id) ON DELETE CASCADE;


--
-- Name: pasoplantilla pasoplantilla_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasoplantilla
    ADD CONSTRAINT pasoplantilla_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: pasorutinacliente pasorutinacliente_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasorutinacliente
    ADD CONSTRAINT pasorutinacliente_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: pasorutinacliente pasorutinacliente_rutina_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasorutinacliente
    ADD CONSTRAINT pasorutinacliente_rutina_cliente_id_fkey FOREIGN KEY (rutina_cliente_id) REFERENCES public.rutinacliente(id) ON DELETE CASCADE;


--
-- Name: personal personal_puesto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal
    ADD CONSTRAINT personal_puesto_id_fkey FOREIGN KEY (puesto_id) REFERENCES public.puestooperativo(id);


--
-- Name: personal personal_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal
    ADD CONSTRAINT personal_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id) ON DELETE SET NULL;


--
-- Name: personalhabilidad personalhabilidad_habilidad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personalhabilidad
    ADD CONSTRAINT personalhabilidad_habilidad_id_fkey FOREIGN KEY (habilidad_id) REFERENCES public.habilidadpersonal(id) ON DELETE CASCADE;


--
-- Name: personalhabilidad personalhabilidad_personal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personalhabilidad
    ADD CONSTRAINT personalhabilidad_personal_id_fkey FOREIGN KEY (personal_id) REFERENCES public.personal(id) ON DELETE CASCADE;


--
-- Name: plantillarutina plantillarutina_creada_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plantillarutina
    ADD CONSTRAINT plantillarutina_creada_por_id_fkey FOREIGN KEY (creada_por_id) REFERENCES public.usuario(id);


--
-- Name: productos productos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categoriaproducto(id);


--
-- Name: promocion promocion_creada_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promocion
    ADD CONSTRAINT promocion_creada_por_id_fkey FOREIGN KEY (creada_por_id) REFERENCES public.usuario(id);


--
-- Name: rutinacliente rutinacliente_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rutinacliente
    ADD CONSTRAINT rutinacliente_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.cliente(usuario_id) ON DELETE CASCADE;


--
-- Name: rutinacliente rutinacliente_plantilla_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rutinacliente
    ADD CONSTRAINT rutinacliente_plantilla_id_fkey FOREIGN KEY (plantilla_id) REFERENCES public.plantillarutina(id);


--
-- Name: rutinacliente rutinacliente_profesional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rutinacliente
    ADD CONSTRAINT rutinacliente_profesional_id_fkey FOREIGN KEY (profesional_id) REFERENCES public.usuario(id);


--
-- Name: servicio servicio_categoria_servicio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicio
    ADD CONSTRAINT servicio_categoria_servicio_id_fkey FOREIGN KEY (categoria_servicio_id) REFERENCES public.categoriaservicio(id);


--
-- Name: se├▒a se├▒a_estado_se├▒a_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."se├▒a"
    ADD CONSTRAINT "se├▒a_estado_se├▒a_id_fkey" FOREIGN KEY ("estado_se├▒a_id") REFERENCES public."estadose├▒a"(id);


--
-- Name: se├▒a se├▒a_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."se├▒a"
    ADD CONSTRAINT "se├▒a_turno_id_fkey" FOREIGN KEY (turno_id) REFERENCES public.turno(id) ON DELETE CASCADE;


--
-- Name: se├▒a se├▒a_usuario_registro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."se├▒a"
    ADD CONSTRAINT "se├▒a_usuario_registro_id_fkey" FOREIGN KEY (usuario_registro_id) REFERENCES public.usuario(id);


--
-- Name: slotequipamiento slotequipamiento_agenda_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slotequipamiento
    ADD CONSTRAINT slotequipamiento_agenda_slot_id_fkey FOREIGN KEY (agenda_slot_id) REFERENCES public.agendaslot(id) ON DELETE CASCADE;


--
-- Name: slotequipamiento slotequipamiento_equipamiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slotequipamiento
    ADD CONSTRAINT slotequipamiento_equipamiento_id_fkey FOREIGN KEY (equipamiento_id) REFERENCES public.equipamiento(id) ON DELETE CASCADE;


--
-- Name: slotpersonal slotpersonal_agenda_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slotpersonal
    ADD CONSTRAINT slotpersonal_agenda_slot_id_fkey FOREIGN KEY (agenda_slot_id) REFERENCES public.agendaslot(id) ON DELETE CASCADE;


--
-- Name: slotpersonal slotpersonal_personal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slotpersonal
    ADD CONSTRAINT slotpersonal_personal_id_fkey FOREIGN KEY (personal_id) REFERENCES public.personal(id) ON DELETE CASCADE;


--
-- Name: turno turno_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno
    ADD CONSTRAINT turno_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.cliente(usuario_id) ON DELETE RESTRICT;


--
-- Name: turno turno_estado_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno
    ADD CONSTRAINT turno_estado_turno_id_fkey FOREIGN KEY (estado_turno_id) REFERENCES public.estadoturno(id);


--
-- Name: turno turno_lista_espera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno
    ADD CONSTRAINT turno_lista_espera_id_fkey FOREIGN KEY (lista_espera_id) REFERENCES public.listaespera(id) ON DELETE SET NULL;


--
-- Name: usuariorol usuariorol_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuariorol
    ADD CONSTRAINT usuariorol_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.rol(id) ON DELETE CASCADE;


--
-- Name: usuariorol usuariorol_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuariorol
    ADD CONSTRAINT usuariorol_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

